.container {
    padding-top: 5px;
    flex: 1;
    display: flex;
}

.me_data {
    width: 100%;
    padding: 5px;
    background-color: #555555;
    border-radius: 20px 20px 20px 0px;
}

.others_data {
    width: 100%;
    padding: 5px;
    background-color: #555555;
    border-radius: 20px 20px 0px 20px;
}

.me {
    /* color: blue; */
    flex: 1;
    flex-direction: row;
    font-size: medium;
    padding-right: 0px;
}

.others {
    /* color: aqua; */
    /* text-align: right;
    align-items: flex-end; */
    flex: 1;
    flex-direction: row;
    font-size: medium;
    padding-left: 0px;
}
