.chatbox {
    position: absolute;
    bottom: 7px;
    right: 0px;
    width: max-content;
    display: block;
    z-index: 2;
    position: fixed;
}

.chatbox-modal {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    display: flex;
    width: 300px;
    height: 590px;
}

.chatbox-modal-closed {
    display: none;
    flex-direction: column;
    background: #eee;
    width: 0px;
    height: 0px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.chatbox-button {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.chats {
    flex: 100%;
    padding: 5px;
    background: #191919;
    border-radius: 10px;
    border: #eee 3px;
    font-size: medium;
}

.chats-header {
    position: sticky;
    top: 0;
    border-bottom: #eee 1px;
    padding: 1px;
    display: flex;
    flex-direction: row;
}

.chats-body {
    height: 80%;
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
}

.chats h1 {
    font-size: 1.2rem;
}

.chats p {
    font-size: .9rem;
}

.chats-footer {
    position: sticky;
    border: #eee 1px;
    display: flex;
    flex-direction: row;
}

.chats-closed {
    display: none;
}

.send-button {
    padding: 1px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
}
